a, a:hover {
    text-decoration: none;
    color: unset;
  }

header {
   background-color: var(--color-primary); 
   height: 60px;
   display: flex;
   align-items: center;
}

.gp-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 1%;
}



